@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

.nav-menu {
  width: 100vw;
  display: flex;
}
.nav-menu > .menu {
  background-color: #b085f5;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px black;
  width: 25vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  font-family: "Black Han Sans", sans-serif;
}
.nav-menu > .menu > p {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  background-color: #7e57c2;
  color: white;
  padding: 3px 0px;
  box-sizing: border-box;
  border-radius: 6px 6px 0px 0px;
}
.nav-menu > .menu > button {
  /*min-width: 100px;*/
  width: 20vw;
  max-height: 40px;
  margin: 5px auto;
  box-sizing: border-box;
  background: transparent;
  font-size: 1.4rem;
  color: white;
  text-align: center;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 1px 1px gray, 1px 1px gray inset;
  padding: 1px 0px;
}
.nav-menu > .menu > button > img {
  max-width: 14px;
  max-height: 14px;
}
.nav-menu > .menu > button > span {
  font-size: 0.8em;
}
.nav-menu > .menu > button:hover {
  background: white;
  color: #7e57c2;
}
