.nav-menu2 {
  width: 100vw;
  margin-top: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 2px black;
  background-color: #1976d2;
  border-radius: 10px;
  color: white;
}

.nav-menu2 > p {
  text-align: center;
  font-size: 2rem;
  background-color: #004ba0;
  padding: 3px 0px;
  box-sizing: border-box;
  border-radius: 10px 10px 0px 0px;
}
/* Link태그에 속성을 넣는것 */
.nav-menu2 a {
  width: 25vw;
  height: 30px;
  box-sizing: border-box;
  background: transparent;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1em;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 1px 1px gray;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navMenuContainer2 > .menu > a > img {
  max-width: 14px;
  max-height: 14px;
  vertical-align: top;
}
.nav-menu2 .navMenuContainer2 {
  display: flex;
  overflow: scroll;
  max-height: 300px;
}
.nav-menu2 .navMenuContainer2 .menu1 {
  width: 50vw;
  display: flex;
  flex-flow: wrap row;
}
.nav-menu2 .navMenuContainer2 .menu2 {
  width: 50vw;
  display: flex;
  flex-flow: wrap row;
}
/* Link태그에 속성을 넣는것 */
.nav-menu2 .navMenuContainer2 .menu a:hover {
  background-color: white;
  color: #3366ff;
}
.navMenuContainer2 .menu {
  display: flex;
  flex-flow: wrap row;
}
.navMenuContainer2 .menu75vw {
  width: 75vw;
  flex-flow: wrap row;
}
.navMenuContainer2 .menu25vw {
  width: 25vw;
  flex-flow: wrap row;
}
