   /* 공통 */
    .col_r{ color: red; }
    .col_g{ color: green; }
    .col_p{ color: purple;}
    .col_w{ color: white; }
    .col_bk{ color: black; }
    .col_be{ color: blue; }
    .tab_4 { 
        margin-left: 40px;
        list-style-type: circle;
    }
    /* 왼쪽 사이드에 펼치는 메뉴 설정 */
    details{
        padding-left: 5px;
        box-sizing: border-box;
        display: block;
        border-left: black solid 1px;
    }
    details[open] > summary {
        background: #eeeeee;
    }
    details[open] > summary[class="stitle"] {
        background: black;
    }
    summary {
        color:blue;
        cursor: pointer;
    }
    
    summary:hover {
        background-color: chocolate;
    }
    .lblocknav_container > .lblocknav > .mtitle {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 1em;
        background-color: aqua;
        border-radius: 10px 10px 0px 0px;
    }
    .lblocknav_container a {
        display: inline-block;
        text-decoration: none;
        font-size: 1em;
        padding-left: 5px;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        border-left: black solid 1px;
    }
    .lblocknav_container a::before {
        content: "🦉";
    }
    .lblocknav_container a:hover {
        background-color: chocolate;
        border-radius: 5px;
    }
    
    /* ///////////////////////////////////////////////////////////////// */
    .common_style > .subject {
        text-align: center;
        margin: 10px 0px 10px;
        background: #c4c4c4;
        border-radius: 10px;
    }
    .common_style  .mtitle {
        margin: 2px 0px 2px;
        font-size: 25px;
        color: blue;
        background: white;
        border-radius: 10px;
        padding: 0px 5px;
        box-sizing: border-box;
        display: block;
        text-align: center;
    }
    .common_style  .stitle {
        margin: 2px 0px 2px;
        font-size: 20px;
        font-weight: 800;
        color:violet;
        background: #eaeaea;
        border-radius: 2px;
        padding: 5px 5px;
        box-sizing: border-box;
        display: block;
        border-radius: 10px;
    }
    .common_style  .sstitle {
        margin: 1px 0px 1px;
        font-size: 16px;
        font-weight: 800;
        color:rgba(0, 38, 255, 0.8);
        background: #ffeaa7;
        padding: 2px 2px;
        box-sizing: border-box;
        display: block;
        border-radius: 6px 6px 0px 0px;
    }
    .common_style  .lblocknav {
        border: black solid 3px;
        background: rgba(0,255,0,0.3);
        margin: 10px 0px 20px;
        width: 100%;
        min-height: 150px;
        padding: 5px;
        box-sizing: border-box;
        display: inline-block;
        border-radius: 10px;
        font-size: 1em;
    }
    .common_style  .lblock {
        border: black solid 3px;
        background: rgba(0,255,0,0.3);
        margin: 10px 0px 20px;
        width: 100%;
        /* min-height: 150px; */
        padding: 5px;
        box-sizing: border-box;
        display: inline-block;
        border-radius: 10px;
        font-size: 1em;
    }
    
    .common_style  .mblock {
        border: black solid 2px;
        background: #81d4fa;
        margin: 10px 0px 10px;
        width: 100%;
        /* min-height: 80px; */
        padding: 5px;
        box-sizing: border-box;
        display: block;
        border-radius: 10px;
    }
    .common_style  .sblock {
        border: black solid 2px;
        background: #D9B2FF;
        margin: 10px 0px 10px;
        width: 100%;
        /* min-height: 80px; */
        padding: 5px;
        box-sizing: border-box;
        display: block;
        border-radius: 10px;
    }
    .hyperlink{
        max-height: 600px;
        overflow-y:  scroll;
    }

    /* 이미지위에 마우스 올라가면 화면 확대 지금 정지*/
    .common_style img {
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        max-width: 100%;
    }
    
    /* 단어 : 설명 을 구분하기 위해 단어에 색을 준 스타일 */
    .common_style i {
        color:#ff3d00;
        font-weight: 800;
        font: caption;
        font-size: 15px;
        word-break: break-all;
        
    }
    /* 주석 용도로 사용 */
    .common_style small {
        color: green;
        font-weight: 800;
    }
    

/* 1024px이상이 되어야 스타일이 작동 */
@media screen and (min-width: 1024px)
{
    /* ///////////////////////////////////////////////////////////////// */
    .lblocknav_btn {
        display: none;
    }
    .lblocknav_btn2 {
        display: none;
    }
    .lblocknav_container{
        width: 25%;
        display: inline-block;
        position: relative;
        left: 0px;
        top: 20px;
        box-sizing: border-box;
        z-index: 2;
        max-height: 1000px;
        /* overflow: scroll; */
    }
    .lblocknav_container > .lblocknav {
        width: 100%;
        border-radius: 10px;
        border: black solid 2px;
        background-color: #c4c4c4;
        box-sizing: border-box;
    }

    /* ///////////////////////////////////////////////////////////////// */
    .common_style{
        width: 75%;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 500px;
        border-radius: 20px;
        display: inline-block;
        position: absolute;
        top: 0px;
        background-color: white;
    }
}

/* 1024px 이내일 경우 발생 */
@media screen and (max-width: 1024px)
{
    .lblocknav_btn2 {
        display: block;
        position: absolute;
        right: 0px;
        z-index: 20;
        top: 2px;
        right: 8px;
        height: 21px;
        width: 21px;
        outline: none;
        border-radius: 0px 10px 0px 0px;
        border: aqua solid 1px;
        box-sizing: border-box;
        cursor: pointer;
        background-color: aqua;
    }
    .lblocknav_btn2:hover {
        background-color: rgb(169, 159, 159);
    }
    .lblocknav_btn {
        position: fixed;
        width: 40px;
        height: 40px;
        background-color: green;
        top: 120px;
        z-index: 10;
        border-radius: 20px;
        opacity: 0.6;
    }
    .lblocknav_container{
        position: fixed;
        display: none;
        left: 0px;
        top: 40px;
        box-sizing: border-box;
        max-height: 1000px;
        overflow: scroll;
        width: 360px;
    }
    .lblocknav_container > .lblocknav {
        border-radius: 10px;
        border: black solid 2px;
        background-color: #c4c4c4;
        opacity: 0.9;
        box-sizing: border-box;
    }
   



    /* ///////////////////////////////////////////////////////////////// */


    .common_style {
        padding: 10px;
        box-sizing: border-box;
        /* margin-bottom: 500px; */
        background-color: white;
    }

}

