   /* 공통 */
    .col_r{ color: red; }
    .col_g{ color: green; }
    .col_p{ color: purple;}
    .col_w{ color: white; }
    .col_bk{ color: black; }
    .col_be{ color: blue; }
    .tab_4 { 
        margin-left: 40px;
        list-style-type: circle;
    }
    /* 왼쪽 사이드에 펼치는 메뉴 설정 */
    .main {
        position: relative;
    }
    details{
        box-sizing: border-box;
        border: gray solid 2px;
        border-radius: 5px;
    }
    details::before{
        content: "▷";
    }
    details[open]::before{
        content: "▼";
    }
    summary {
        color:black;
        cursor: pointer;
    }
    summary small {
        font-size: 0.6em;
    }
    .common_style > .subject {
        text-align: center;
        background: #c4c4c4;
        border-radius: 10px;
    }
    .common_style  .mtitle {
        font-size: 25px;
        background: white;
        border-radius: 10px;
        box-sizing: border-box;
        display: block;
        text-align: center;
        margin: 0px 0px 10px 0px;
    }
    .common_style  .stitle {
        color: black;
        font-size: 16px;
        font-weight: 800;
        border-radius: 2px;
        box-sizing: border-box;
        display: inline-block;
        border-radius: 10px;
        padding: 5px 0px 5px 5px;
        min-width: 90%;
        min-height: 16px;
    }
    details > .sstitle:hover {
        background-color: chocolate;
    }
    .common_style  .sstitle {
        font-size: 14px;
        font-weight: 800;
        box-sizing: border-box;
        display: inline-block;
        border-radius: 2px;
        padding: 5px;
        background-color: #95dac1;
        margin: 10px 0px;
    }
    .common_style .title4 {
        font-size: 14px;
        font-weight: 800;
        box-sizing: border-box;
        display: inline-block;
        border-radius: 2px;
        padding: 5px;
        background-color: rgba(169,228,255);
        margin: 10px 0px;
    }
    .common_style  .lblock {
        border: black solid 3px;
        background-color: #a5dee5;
        width: 100%;
        box-sizing: border-box;
        display: inline-block;
        border-radius: 15px;
        font-size: 1em;
    }

    .common_style .lblock > .mblock {
        background-color: #e0f9b5;
        /*border-radius: 0px 15px 15px 0px;*/
        margin: 8px 0px 8px 0px;
        padding: 5px 5px 5px 5px;
    }

    .common_style  .mblock {
        width: 100%;
        box-sizing: border-box;
        display: block;
        margin: 2px 0px;
        border-radius: 10px;
        min-height: 20px;
        padding: 10px;
        border: black solid 1px;
        background: #fefdca;
    }

    .common_style  .sblock {
        border: #ff7676 solid 1px;
        width: 100%;
        box-sizing: border-box;
        display: block;
        border-radius: 10px;
        padding: 10px;
        margin: 5px 0px 5px 0px;
        min-height: 20px;
        background: #ffcfdf;
    }

    li {
        list-style: none;
    }

    /* 이미지위에 마우스 올라가면 화면 확대 지금 정지*/
    .common_style img {
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        max-width: 100%;
    }
    
    /* 단어 : 설명 을 구분하기 위해 단어에 색을 준 스타일 */
    .common_style i {
        color:#ff3d00;
        font-weight: 800;
        font: caption;
        font-size: 15px;
        word-break: break-all;
        
    }
    /* 주석 용도로 사용 */
    .common_style small {
        color: green;
        font-weight: 800;
    }
    

/* 1024px이상이 되어야 스타일이 작동 */
@media screen and (min-width: 1024px)
{
    .common_style {
        display: inline-block;
        width: 100%;
    }
}

/* 1024px 이내일 경우 발생 */
@media screen and (max-width: 1024px)
{
   
    .common_style {
        display: inline-block;
        width: 100%;
    }

}

