.lsideMenu {
    /* width: 20%;
    max-width: 320px;
    border: black solid 1px;
    box-sizing: border-box;
    padding: 10px 9px 0px;
    position: absolute;
    left: 0px;
    top: 310px;
    min-height: 500px;
    background-color: rgba(200,200,200,0.6);
    border-radius: 10px;
    overflow: scroll;
    height: 300px; */

    width: 100%;
    /* max-width: 1600px; */
    max-height: 300px;
    position: relative;
    margin-top: 10px;
}
.lsideMenu {
    text-align: center;
}
/* 현재 컴포넌트에는 버튼이 없지만 하위 컴포넌트에 존재 */
/* 왼쪽 사이드 메뉴 버튼 */
.lsideMenu > div button {
    font-size: 80%;
    background: transparent;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
} 
.lsideMenu > div button:hover{
    background-color: aqua;
}
