.nav-menu2__inner-box {
    display: flex;
}

.nav-menu2__inner-box .menu {
    width: 50%;
}
.nav-menu2__inner-box > .menu > a  {
    text-decoration: none;
}
.nav-menu2__inner-box > .menu > a > img {
    max-width: 14px;
    max-height: 14px;
    vertical-align: top;
}
.nav-menu2__inner-box > .menu > a > span {
    font-size: 0.8em;
}