.navMenu2 {
    width: 100%;
    /* max-width: 1600px; */
    max-height: 300px;
    margin-top: 10px;
}
.navMenu2 > .menu {
    width: 100%;
    max-height: 300px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px black;
    background-color: #1976d2;
    border-radius: 10px;
    color: white;
    display: inline-block;
}

.navMenu2 > .menu > p {
    padding: 3px 0px;
    text-align: center;
    font-size: 1em;
    background-color: #004ba0;
    border-radius: 10px 10px 0px 0px;
}

.navMenu2 button {
    float: left;
    margin: 5px;
    min-width: 120px;
    background: transparent;
    color: white;
    font-weight: 700;
    font-size: 15px;
    line-height: 1em;
    text-align: center;
    box-sizing: border-box;
    padding: 5px 2px;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 1px 1px gray;
}

.navMenu2 > .menu button:hover {
    background: white;
    color: #1976d2;

}
