.nav-menu2 {
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px black;
    background-color: #1976d2;
    border-radius: 10px;
    color: white;
}

.nav-menu2 > p {
    text-align: center;
    font-size: 1em;
    background-color: #004ba0;
    padding: 3px 0px;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
}

.nav-menu2 button {
    float: left;
    padding: 5px 0px;
    min-width: 220px;
    max-width: 220px;
    min-height: 28px;
    margin: 5px;
    box-sizing: border-box;
    background: transparent;
    color: white;
    font-weight: 700;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 1px 1px gray;
}

/* Link태그에 속성을 넣는것 */
.nav-menu2 a {
    float: left;
    padding: 5px 0px;
    min-width: 220px;
    max-width: 220px;
    min-height: 28px;
    margin: 5px;
    box-sizing: border-box;
    background: transparent;
    color: white;
    font-weight: 700;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 1px 1px gray;
}
/* Link태그에 속성을 넣는것 */
.nav-menu2 .nav-menu2__inner-box .menu a:hover{
    background-color: white;
    

}