.navMenu {
    width: 100%;
    /* max-width: 1600px; */
    /* max-height: 300px; */
    margin-top: 10px;
    display: flex;
}
.navMenu > .menu {
    /* height: 300px; */
    box-sizing: border-box;
    background-color: #b085f5;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
}
.navMenu > .firstMenu {
    width: 25%;
    max-width: 400px;

}
.navMenu > .secondMenu {
    width: 25%;
    max-width: 400px;
}
.navMenu > .thirdMenu {
    width: 50%;
    max-width: 800px;
}

.navMenu > .menu > p {
    text-align: center;
    font-size: 1em;
    background-color: #7e57c2;
    color: white;
    padding: 3px 0px;
    box-sizing: border-box;
    border-radius: 6px 6px 0px 0px;
}
.navMenu > .menu > button {
    /* float: left; */
    margin: 5px;
    min-width: 100px;
    padding: 5px 2px;
    background: transparent;
    color: white;
    font-weight: 700;
    font-size: 15px;
    line-height: 1em;
    text-align: center;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 1px 1px gray;
}
.navMenu > .menu > button:hover {
    background: white;
    color: #7e57c2;
}