.nav-menu {
    width: 100%;
    margin-top: 10px;
    display: flex;
}
.nav-menu > .menu {
    background-color: #b085f5;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
}
.nav-menu > .nav-menu__container1 {
    width: 25%;
    max-width: 400px;
}
.nav-menu > .nav-menu__container2 {
    width: 25%;
    max-width: 400px;
}
.nav-menu > .nav-menu__container3 {
    width: 25%;
    max-width: 400px;
}
.nav-menu > .nav-menu__container4 {
    width: 25%;
    max-width: 400px;
}

.nav-menu > .menu > p {
    text-align: center;
    font-size: 1em;
    background-color: #7e57c2;
    color: white;
    padding: 3px 0px;
    box-sizing: border-box;
    border-radius: 6px 6px 0px 0px;
}
.nav-menu > .menu > button {
    float:left;
    padding: 5px 0px;
    min-width: 100px;
    margin: 5px;
    box-sizing: border-box;
    background: transparent;
    color: white;
    font-weight: 700;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 1px 1px gray;
}
.nav-menu > .menu > .col_b_r {
    background-color: red;
}
.nav-menu > .menu > button > img {
    max-width: 14px;
    max-height: 14px;
    vertical-align: top;
}
.nav-menu > .menu > button > span {
    font-size: 0.8em;
}
.nav-menu > .menu > button:hover {
    background: white;
    color: #7e57c2;
}


