<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta class="viewport" content="width=device-width, initial-scale=1.0">
	<title> Document </title>

</head>

<body>
	<button onClick=assign()> assign </button>
	<button onClick=replace()> replace </button>
	<button onClick=reload()> reload </button>

	<script>
		console.log(screen.availWidth);
		console.log(screen.availHeight);
		console.log(screen.colorDepth);
		console.log(screen.width);
		console.log(screen.height);
		console.log(screen.pixelDepth);
	</script>
</body>


</html>