.app {
  min-width: 440px;
  width: 100vw;
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  box-sizing: border-box;
  background: url(./static/img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent;
}
/* 폰트 */
@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("../src/static/font/GangwonEduPowerExtraBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("../src/static/font/Cafe24Ssurround.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF_IceLemon";
  src: url("../src/static/font/SF_IceLemon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SANGJUGyeongcheonIsland";
  src: url("../src/static/font/SANGJU Gyeongcheon Island.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
