*{
    margin: 0px;
    padding: 0px;
}
li,ol{
    margin-left: 25px;
}


.app {
    /* 최대 넓이 1640이고 양옆에 border-box 패딩 20주고 반응형 웹 3단계로 제작 */
    /* 남은 너비 1600 여기서 좌우 사이드 640쓰고 940남는다 좌우패딩 10주고 920 */
    /* 백, 프, DB 지식 스킬  마진 10 3덩어리 나누고 남은게 900*/
    /* 250 250 400 */

    /* 상단 높이 300 */
    /* 왼쪽 사이드 너비 320 마진 10*/
    /* 우측 사이드 너비 320 마진 10*/
    min-width: 440px;
    max-width: 1640px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 0px 20px;
}

.menu_container {
    position: relative;
}
