body {
  /*background: url(./background.jpg);*/
  /*background: url(./static/img/큐브가\ 떨어지면서\ 조각남.gif);*/
  /*background-attachment: fixed;*/
  /*background-repeat: repeat-x;*/
  /*background-size: cover;*/
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
li {
  margin-left: 15px;
}
button,
input {
  background-color: transparent;
}
html {
  font-size: 10px;
}
a {
  text-decoration: none;
  color: black;
}
