.menucontainer {
    display: flex;
}

.menucontainer .menu {
    width: 50%;
}
.menucontainer > .menu > a  {
    text-decoration: none;
}
.menucontainer > .menu > a > img {
    max-width: 14px;
    max-height: 14px;
    vertical-align: top;
}
.menucontainer > .menu > a > span {
    font-size: 0.8em;
}